 @import '../../style/variable.scss';

// 按钮类型的配置
$type: (
    primary: (
        color: $ly-light-text,
        background-color: $ly-primary,
    ),
    secondary: (
        color: $ly-text,
        background-color: $ly-block,
        border-color: $ly-line,
    ),
    text: (
        padding: 0,
        color: $ly-brand-active,
    ),
);
$size: (
    small: (height: 24px,
        padding: 0 16px,
        font-size: $ly-font-size-sm,
    ),
    medium: (font-size: $ly-font-size-md,
    ),
    large: (height: 32px,
        padding: 0 24px,
        font-size: $ly-font-size-lg,
    ),
);

// 伪类的配置
$pseudo: (
    primary: (hover: (background-color: $ly-primary-hover,
        ),
        focus: (background-color: $ly-primary-hover,
        ),
        active: (background-color: $ly-primary-active,
        ),
        disabled: (color: $ly-light-text,
            background: $ly-primary-disabled,
            border: none,
        )
    ),
    secondary: (hover: (border-color: $ly-form-control-line-active,
            color: $ly-brand-active,
        ),
        focus: (border-color: $ly-form-control-line-active,
            color: $ly-brand-active,
        ),
        active: (border-color: $ly-form-control-line-active,
            color: $ly-brand-active,
        ),
        disabled: (color: $ly-disabled-text,
            background: $ly-disabled-bg,
            border: 1px solid $ly-disabled-line,
        )
    ),
    text: (hover: (color: $ly-brand-active-focus,
        ),
        focus: (color: $ly-brand-active-focus,
        ),
        active: (color: $ly-brand-active-focus,
        ),
        disabled: (color: $ly-disabled-text,
        )
    )
);
